@import url('./variables.css');

.banner-container-flex{
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 100vw;
    background-color: rgb(17, 17, 17);
}

.banner-text-wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20px;
    margin-top: 0px;
    padding: 20px;
    color: white;
}

.banner-text-wrapper h3{
    font-family: var(--roboto);
    font-weight: 400;
}

.banner-title-wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4em;
    color: white;
    overflow: hidden;
    padding: 20px;
}

.banner-title-wrapper h1.page-title{
    margin-top: 0;
    font-family:var(--poppins);
    font-weight: 500;
    font-size: 3em;
    margin-right: 0.25em;
}

.banner-title-wrapper h1.decoration{
    margin-bottom:0.01em;
    font-family:var(--poppins);
    font-weight: 700;
    color: var(--main-yellow);
}