@import url('./variables.css');

.banner-container-flex{
    display: flex;
    flex-direction: row;
    height: 175px;
    width: 100vw;
    background-color: rgb(17, 17, 17);
}

.banner-text-wrapper{
    width: 100vw;
    height: 100px;
    margin-top: 0px;
    padding: 20px;
    color: white;
}

.banner-text-wrapper h3{
    font-family: var(--roboto);
    font-weight: 400;
}

.banner-text-wrapper h1.Title{
    display: inline-block;
    font-family:var(--poppins);
    font-weight: 500;
}
.banner-text-wrapper h1.decoration{
    position: absolute;
    margin-left: 230px;
    margin-top: -65px;
    display: inline-block;
    font-family:var(--poppins);
    font-weight: 700;
    color: rgb(255, 238, 0);
}